@import '../Abstract/_base.css';

.contact{
    padding: 5rem;
}

.contact__list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.contact__list__item{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.contact__list__item a{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--color-white);
    border: transparent;
    box-shadow: none;
    font-weight: 300;
}

.contact__list__item a:hover{
    background-color: transparent;
    color: var(--color-4);
    font-weight: 300;
}