@import '../Abstract/_base.css';

.footerClass{
    border-top: 2px solid var(--color-3);
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem 4rem 5rem;
}

.footerClass h3{
    font-size: 15px;
}

.footerClass p{
    font-size: 12px;
}