@import '../Abstract/_base.css';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    border-bottom: 2px solid var(--color-3);
}

.header__title{
    font-size: 1.5rem;
    font-weight: 700;
}

.header__list{
    display: flex;
    gap: 1rem;
}

.header__list__item a{
    color: var(--color-4);
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.header__list__item a:hover{
    color: var(--color-white);
    background-color: transparent;
}